<header>
    {{#if user}}
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#map">Find Spätis</a></li>
                    <li class="nav-item"><a class="nav-link" href="/new">Add a new Späti</a></li>
                    <li class="nav-item"><a class="nav-link" href="/spaetis">Show All Spätis</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li> 
                </ul>
            </div>
            </div>
        </nav>
    {{else}}
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#map">Find Spätis</a></li>
                    <li class="nav-item"><a class="nav-link" href="/spaetis">Show All Spätis</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li> 
                </ul>
            </div>
            </div>
        </nav>

        {{!-- Only show if user is logged out or they are not a user  --}}
    <div class="homeContainer">
        <h1>Looking for that special späti you spent 30 minutes wandering for?</h1>
        <p>
            Späti Finder is here to help you search for any Spätis in your area.
        </p>
    </div>
    {{/if}} 
</header>



<div class="map-view" id="map-view">
	<div id="map" style="width: 100vw; height: 100vh;"></div> 
	<script src="/js/mapbox.js"></script>	
</div>


<footer class="container-fluid bg-light text-dark py-4 px-3">
  <p class="m-0">Designed and built by Marishka, Stephen & Rahaf</p>
</footer>
