<h2>Add a new sp채ti</h2>

<form action='/' method='POST'>
  <label for='name'>Name: </label>
  <input type='text' name='name' id='name' />
  <br />
  <label for='image'>Choose file to upload</label>
  <input type='file' id='image' name='image' accept='.jpg, .jpeg, .png' />
  <br />
  <label for='hasSeating'>This sp채ti has outdoor seating </label>
  <input type='checkbox' id='hasSeating' name='hasSeating' value='true' />
  <br />
  <label for='hasAtm'>This sp채ti has an ATM </label>
  <input type='checkbox' id='hasAtm' name='hasAtm' value='true' />
  <br />
  <label for='hasWC'>This sp채ti has a bathroom </label>
  <input type='checkbox' id='hasWC' name='hasWC' value='true' />
  <br />
  <button type='submit'>Add this spaeti</button>
</form>