<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="container md p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Add a new späti</h2>
    </div>

<form action='/spaeti' method='POST'>
  <div class="container md p-3">
  <label for='name'>Name: </label>
  <input id="spatiName" type='text' name='name' id='name' />
  

  <div class="form-check">
  <label for='hasSeating'>This späti has outdoor seating </label>
  <input class="form-check-input" id="hasSeating"type='checkbox' id='hasSeating' name='hasSeating' value=false />
  </div>

  <div class="form-check">
  <label for='hasAtm'>This späti has an ATM </label>
  <input class="form-check-input" id="hasAtm" type='checkbox' id='hasAtm' name='hasAtm' value=false />
  </div>

  <div class="form-check">
  <label for='hasWC'>This späti has a bathroom </label>
  <input class="form-check-input" id="hasWC"type='checkbox' id='hasWC' name='hasWC' value=false />
  </div>
  </div>
  <div class="container md p-3">
    <div class="card">
  <label class="card-title" for='address' name="address">Address: </label>
  <input type="text" placeholder="Street" name="street" value="{{street}}">
  <input type="text" placeholder="City" name="city" value="{{city}}">
  <input type="number" name="zip" placeholder="ZIP Code" value="{{plz}}"/>
  </div>
  </div>


  <div class="container md p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Add some product prices</h2>
      <h3 class="card-title">Drinks</h3>
    </div>

  <select name='item' id='productSelector' class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value='Club Mate 500ml'>Club Mate 500ml</option>
    <option value='Fritz Cola 500ml'>Fritz Cola 500ml</option>
    <option value='Fritz Cola 330ml'>Fritz Cola 330ml</option>
    <option value='Rothaus Pils 500ml'>Rothaus Pils 500ml</option>
    <option value='Sternburger Export 500ml'>Sternburger Export 500ml</option>
    <option value='Augustiner Helles 500ml'>Augustiner Helles 500ml</option>
    <option value='Bayreuther Hell 500ml'>Bayreuther Hell 500ml</option>
  </select>

  <select id="priceSelector" name='price' class="form-select" aria-label="Default select example">
    <option value='0,80'>0,80€</option>
    <option value='1,00'>1,00€</option>
    <option value='1,20'>1,20€</option>
    <option value='1,40'>1,40€</option>
    <option value='1,60'>1,60€</option>
    <option value='1,80'>1,80€</option>
    <option value='2,00'>2,00€</option>
    <option value='2,20'>2,20€</option>
    <option value='2,40'>2,40€</option>
    <option value='2,60'>2,60€</option>
    <option value='2,80'>2,80€</option>
    <option value='3,00'>3,00€</option>
    <option value='3,20'>3,20€</option>
    <option value='3,40'>3,40€</option>
    <option value='3,60'>3,60€</option>
    <option value='3,80'>3,80€</option>
    <option value='4,00'>4,00€</option>
    <option value='4,20'>4,20€</option>
    <option value='4,40'>4,40€</option>
    <option value='4,60'>4,60€</option>
    <option value='4,80'>4,80€</option>
    <option value='5,00'>5,00€</option>
  </select>

  <p id='addProduct' class="new-button">Add</p>
  <p id='startOver' class="new-button">Start Over</p>
  <p id='productDisplay'></p>

 
  <div class="add-btn">
    <button style="width: fit-content;" class="btn btn-dark btn-lg" onclick=addSpati(event) >Add this späti</button>
  </div>

  </form>
  
  <script>
let spatiName = document.getElementById('spatiName').value
let image = document.querySelector('#image').value
let hasSeating = document.querySelector('#hasSeating').value
let hasAtm = document.querySelector('#hasAtm').value
let hasWC = document.querySelector('#hasWC').value




    let productArray = [];
    document.querySelector("#addProduct").addEventListener("click", function() {
    let productName = document.querySelector("#productSelector").value;
    let productPrice = document.querySelector("#priceSelector").value; 
    let newProduct = {}; 
    newProduct.name = productName; 
    newProduct.price = productPrice; 
    newProduct.imageUrl = productName
    
    productArray.push(newProduct);


    document.querySelector("#productDisplay").innerHTML +=`<p>${newProduct.name} - <strong>${newProduct.price}</strong></p>` 
    });

    document.querySelector("#startOver").addEventListener("click", function() {
      productArray.splice(0, productArray.length);
      document.querySelector("#productDisplay").innerText = ''
        });

    function addSpati(event) {
      event.preventDefault()
      axios.post('/spaeti', {
        name: (document.getElementById('spatiName').value),
        imageUrl: document.querySelector('#image').value,
        hasSeating: document.querySelector('#hasSeating').value,
        hasAtm: document.querySelector('#hasAtm').value,
        hasWC: document.querySelector('#hasWC').value,
        inventory: productArray
      })
      .then(createdSpaeti => {
    
        window.location.replace(`http://localhost:3000/spaeti/${createdSpaeti.data._id}`)
      })
    }  
  </script>

