<div class="container md p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Sign Up</h2>
    </div>
    <div class="card-body">
      	{{#if message}}
			<p style="color: red">{{message}}</p>
		{{/if}} 
      <form action="/signup" method="POST">
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="Username" id="username" type="text" name="username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="Password" id="password" type="password" name="password">
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="Confirm" id="confirm" type="password" name="confirm">
          <label for="confirm">Confirm password</label>
        </div>
        <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
      </form>
    </div>
  </div>
</div>




