body {
  padding: 0;
  margin: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#7f8c8d, #000000);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.grid-container {
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 950px;
  margin: auto;
  background: black;
  padding: 10px;
}

.new-button{
  display: inline-block;
  background: #000;
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  margin: 8px 950px 0px 8px;
  cursor: pointer;   
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 122px);
  width: 100%;
  text-align: center;
  padding: 0 20%;
  background-image: linear-gradient(#7f8c8d, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.add-btn {
  text-align: center;
}

.s-btn{
  top:50%; 
  left:50%;
  right: 50%;
  width: 100%;
}

.display-1{
  text-align: center;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 0%;
  left: 0%;
  margin-left: 0%;
  top: 0px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 0%;
  display:none;
  }

  .mapboxgl-ctrl-geocoder--input {
    min-width: 0%;
    display:none;
  }

.showHeading {
  text-align: center;
}
.showPageDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  padding: 20px;
  height: 90vh;
}


.display-fridge {
background-image: url("/images/facilities/display-fridge.png");
background-size:contain;
background-position: center;
background-repeat: no-repeat;
height: 80vh;
width: 220px;
margin-left: auto;
margin-right: auto;
}
.display-bottles {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 15% 15% 15% 12% 18%;
  height: 80vh;
width: 160px;
margin-left: 30px;
align-items: end;
}

.drinksImages {
  height: 70px;
  margin: 0 2px;
}

.drinksImages:hover{
  height: 80px;

  }


.outdoorSeatingImg {
  width: 200px;
  height: 100px;
  margin-top: 350px;
}

.bathroomImg {
  height: 400px;
  width: auto;
  margin-top: 50px;
}

.atmImg {
  height: 300px;
  width: auto;
  margin-top: 150px;
}

.bathroom {
  text-align: center;
}

.atm {
  text-align: center
}

.outdoorSeating {
  text-align: center;
}

.productPrice {
  text-align: center;
}

.editLink {
 text-decoration: none;
 padding: 20px 0;
}

.deleteLink {
text-decoration: none;
padding: 20px 0
}


.form-control2 {
  width: 400px;
  margin: 20px 0;
}

h3 {
  padding: 20px 0;
}

.card-title2 {
  color: rgb(29, 20, 102);
}

.mainDiv {
  display: flex
}

.reviews {
  border: 2px solid black;
  padding: 20px;
  margin: 0 20px;
  height: 90vh;
  overflow: auto;
  width: 35vw
}