body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 0%;
  left: 0%;
  margin-left: 0%;
  top: 0px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 0%;
  display:none;
  }

  .mapboxgl-ctrl-geocoder--input {
    min-width: 0%;
    display:none;
  }